@model Hospital_Management_System.models.UserTable;
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="LoginSuccess" method="post">

    <div>
        <input type="number" asp-for="@Model.UserId" placeholder="UserId" required />

    </div>

    <br />

    <div>
        <input type="text" asp-for="@Model.Password" placeholder="Password" required />
    </div>

    <br />

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>